.slid-in {
  width: 100%;
  height: 100vh;
  background: #1a1a1a;
  transform-origin: bottom;
  position: fixed;
  top: 0;
  left: 0;
}
.slid-out {
  width: 100%;
  height: 100vh;
  background: #1a1a1a;
  transform-origin: bottom;
  position: fixed;
  transform-origin: top;
  top: 0;
  left: 0;
}
* {
  padding: 0;
  margin: 0;
}
html body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  background-color: #1a1a1a;
}
@keyframes bottom-nav-element {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}
